@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,500,700&display=swap");
body,
html {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  touch-action: manipulation; }

body {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  line-height: 1.42857143 !important;
  font-size: 1.4rem !important;
  margin: 0 !important;
  box-sizing: inherit;
  color: white;
  background-color: #161921; }

body *,
body :after,
body :before {
  box-sizing: inherit; }

img {
  display: block; }

.hidden {
  display: none !important;
  visibility: hidden; }

#theme .content,
#theme nav {
  color: #dadada; }

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

h1,
h2,
h3 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

homepage {
  /*! CSS Used from: https://firefile.cc/client/styles.a63d7ccfabce013b75de.css */
  /*! CSS Used from: Embedded */
  /*! CSS Used from: Embedded */
  /*! CSS Used keyframes */ }
  homepage svg:not(:root).svg-inline--fa {
    overflow: visible; }
  homepage .svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em; }
  homepage .svg-inline--fa.fa-w-9 {
    width: 0.5625em; }
  homepage .svg-inline--fa.fa-w-14 {
    width: 0.875em; }
  homepage .svg-inline--fa.fa-w-20 {
    width: 1.25em; }
  homepage .fa-3x {
    font-size: 3em; }
  homepage .mat-button,
  homepage .mat-raised-button,
  homepage .mat-stroked-button {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500; }
  homepage .mat-ripple {
    overflow: hidden;
    position: relative; }
  homepage .cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none; }
  homepage .mat-button,
  homepage .mat-stroked-button {
    color: inherit;
    background: 0 0; }
  homepage .mat-button-focus-overlay {
    background: #000; }
  homepage .mat-stroked-button:not([disabled]) {
    border-color: rgba(0, 0, 0, 0.12); }
  homepage .mat-raised-button {
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff; }
  homepage .mat-stroked-button:not([class*=mat-elevation-z]) {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12); }
  homepage .mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  homepage .mat-raised-button:not([disabled]):active:not([class*=mat-elevation-z]) {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }
  homepage .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
  @media (min-width: 576px) {
    homepage .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    homepage .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    homepage .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    homepage .container {
      max-width: 1140px; } }
  homepage .row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }
  homepage .col-7,
  homepage .col-sm-3 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; }
  homepage .col-7 {
    -webkit-box-flex: 0;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  @media (min-width: 576px) {
    homepage .col-sm-3 {
      -webkit-box-flex: 0;
      flex: 0 0 25%;
      max-width: 25%; } }
  homepage .justify-content-center {
    -webkit-box-pack: center !important;
    justify-content: center !important; }
  homepage .align-items-center {
    -webkit-box-align: center !important;
    align-items: center !important; }
  homepage .my-4 {
    margin-top: 1.5rem !important; }
  homepage .my-4 {
    margin-bottom: 1.5rem !important; }
  homepage .mb-5 {
    margin-bottom: 3rem !important; }
  @media (min-width: 768px) {
    homepage .mb-md-0 {
      margin-bottom: 0 !important; } }
  homepage .font-weight-bold {
    font-weight: 700 !important; }
  @media print {
    homepage *,
    homepage ::after,
    homepage ::before {
      text-shadow: none !important;
      box-shadow: none !important; }
    homepage a:not(.btn) {
      text-decoration: underline; }
    homepage img {
      page-break-inside: avoid; }
    homepage h2,
    homepage h3,
    homepage p {
      orphans: 3;
      widows: 3; }
    homepage h2,
    homepage h3 {
      page-break-after: avoid; }
    homepage .container,
    homepage body {
      min-width: 992px !important; } }
  homepage *,
  homepage ::after,
  homepage ::before {
    box-sizing: border-box; }
  homepage html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent; }
  homepage nav,
  homepage section {
    display: block; }
  homepage body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    text-align: left;
    background-color: #fff; }
  homepage h1,
  homepage h2,
  homepage h3 {
    margin-top: 0;
    margin-bottom: .5rem; }
  homepage p {
    margin-top: 0;
    margin-bottom: 1rem; }
  homepage b {
    font-weight: bolder; }
  homepage a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent; }
  homepage a:hover {
    color: #0056b3;
    text-decoration: underline; }
  homepage img {
    vertical-align: middle;
    border-style: none; }
  homepage svg {
    overflow: hidden;
    vertical-align: middle; }
  homepage .container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; }
  @media screen and (min-width: 768px) {
    homepage .container {
      max-width: 750px; } }
  @media screen and (min-width: 992px) {
    homepage .container {
      max-width: 970px; } }
  @media screen and (min-width: 1200px) {
    homepage .container {
      max-width: 1170px; } }
  homepage nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 70px;
    padding: 0 15px;
    color: #fff; }
  homepage nav a {
    color: inherit; }
  homepage nav custom-menu {
    margin: 0 15px; }
  homepage nav .logo-container {
    height: 55%;
    width: auto; }
  @media only screen and (max-width: 768px) {
    homepage nav custom-menu {
      display: none; }
    homepage nav .logo-container {
      height: 40%; } }
  homepage nav .logo-container .logo {
    display: block;
    height: 100%;
    width: auto; }
  homepage nav .auth-buttons {
    margin-left: auto;
    white-space: nowrap; }
  homepage nav .auth-button {
    min-height: 45px;
    line-height: 45px; }
  homepage nav .auth-button:first-of-type {
    margin-right: 5px; }
  homepage nav .auth-button:hover {
    color: #ff6435;
    text-decoration: none; }
  homepage nav .mat-stroked-button:not([disabled]) {
    border-color: #ff6435; }
  homepage .bg-container {
    width: 100%;
    height: 100%; }
  homepage .bg-container canvas {
    width: 100% !important;
    height: 100% !important; }
  homepage .content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: calc(100% - 70px);
    -webkit-box-align: start;
    align-items: start;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    max-width: 820px;
    margin-left: 10vw;
    text-align: left; }
  homepage .content .title {
    font-size: 4.5rem;
    font-weight: 500; }
  homepage .content .title .mo-fire {
    display: inline-block;
    margin-top: -20px;
    position: absolute;
    width: 50px;
    height: auto; }
  homepage .content .title .mo-fire svg {
    width: 100%;
    height: auto;
    position: relative; }
  homepage .content .title .flame {
    -webkit-animation-name: flamefly;
    animation-name: flamefly;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0; }
  homepage .content .title .flame.one {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s; }
  homepage .content .title .flame-main {
    -webkit-animation-name: flameWobble;
    animation-name: flameWobble;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
  homepage .content .title .flame-main.one {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  homepage .content .title .flame-main.two {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }
  homepage .content .title .flame-main.three {
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s; }
  homepage .content .title .flame-main.four {
    -webkit-animation-duration: 3.2s;
    animation-duration: 3.2s;
    -webkit-animation-delay: 4s;
    animation-delay: 4s; }
  homepage .content .title .flame-main.five {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-delay: 5s;
    animation-delay: 5s; }
  homepage .content .subtitle {
    font-size: 2.1rem;
    font-weight: 300; }
  homepage .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 20px; }
  homepage .footer p {
    margin: auto !important; }
  homepage .footer a {
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    border-bottom: 2px solid #fff; }
  homepage .footer a:hover {
    text-decoration: none; }
  homepage .footer a:active,
  homepage .footer a:visited {
    color: #fff; }
  @media only screen and (max-width: 415px) {
    homepage .footer {
      font-size: 1rem; }
    homepage .content {
      visibility: hidden; } }
  homepage section {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    text-align: center;
    background-color: #161921;
    color: #fff; }
  homepage section .container h1,
  homepage section .container h3 {
    padding: 1rem; }
  homepage section .container h3 {
    margin-bottom: 8rem; }
  homepage section .container h3 b {
    color: #ff6435; }
  homepage .section--small {
    background: repeating-linear-gradient(-45deg, #161921, #161921 20px, #11141a 20px, #11141a 40px);
    color: #fff;
    border-top: 1px solid #ff6435;
    border-bottom: 1px solid #ff6435; }
  homepage .section--small h1 {
    font-size: 3.5rem;
    font-weight: 300; }
  homepage .section--small h1 b {
    color: #ff6435; }
  homepage .section--small .auth-button {
    min-height: 45px;
    line-height: 45px; }
  @media only screen and (min-width: 768px) {
    homepage .section--small .auth-button,
    homepage nav .auth-button {
      min-width: 115px; } }
  homepage .section--small .auth-button:hover {
    color: #fff;
    text-decoration: none; }
  homepage .section--small .mat-raised-button:not([disabled]) {
    color: #fff;
    background-color: #ff6435; }
  homepage .section--small-reversed {
    background: repeating-linear-gradient(45deg, #161921, #161921 20px, #11141a 20px, #11141a 40px); }
  homepage .min-h-50 {
    min-height: 50vh; }
  homepage .min-h-90 {
    min-height: 90vh; }
  homepage .link {
    color: #ff6435;
    text-decoration: underline; }
  homepage .link:active,
  homepage .link:focus,
  homepage .link:hover {
    color: #ff6435; }
  homepage .mat-button .mat-button-focus-overlay {
    opacity: 0; }
  homepage .mat-button:hover .mat-button-focus-overlay,
  homepage .mat-stroked-button:hover .mat-button-focus-overlay {
    opacity: .04; }
  @media (hover: none) {
    homepage .mat-button:hover .mat-button-focus-overlay,
    homepage .mat-stroked-button:hover .mat-button-focus-overlay {
      opacity: 0; } }
  homepage .mat-button,
  homepage .mat-stroked-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible; }
  homepage .mat-button::-moz-focus-inner,
  homepage .mat-stroked-button::-moz-focus-inner {
    border: 0; }
  homepage .mat-button::-moz-focus-inner,
  homepage .mat-stroked-button::-moz-focus-inner {
    border: 0; }
  homepage .mat-raised-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1); }
  homepage .mat-raised-button::-moz-focus-inner {
    border: 0; }
  homepage .mat-raised-button::-moz-focus-inner {
    border: 0; }
  homepage .mat-stroked-button {
    border: 1px solid currentColor;
    padding: 0 15px;
    line-height: 34px; }
  homepage .mat-stroked-button .mat-button-focus-overlay,
  homepage .mat-stroked-button .mat-button-ripple.mat-ripple {
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px; }
  homepage .mat-button-focus-overlay,
  homepage .mat-button-ripple.mat-ripple {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit; }
  homepage .mat-button-focus-overlay {
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1); }
  @media (-ms-high-contrast: active) {
    homepage .mat-button-focus-overlay {
      background-color: #fff; } }
  @media (-ms-high-contrast: black-on-white) {
    homepage .mat-button-focus-overlay {
      background-color: #000; } }
  @media (-ms-high-contrast: active) {
    homepage .mat-button,
    homepage .mat-raised-button {
      outline: solid 1px; } }
@-webkit-keyframes flamefly {
  0% {
    -webkit-transform: translate(0) rotate(180deg);
    transform: translate(0) rotate(180deg); }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(-20px, -100px) rotate(180deg);
    transform: translate(-20px, -100px) rotate(180deg);
    opacity: 0; } }
@keyframes flamefly {
  0% {
    -webkit-transform: translate(0) rotate(180deg);
    transform: translate(0) rotate(180deg); }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(-20px, -100px) rotate(180deg);
    transform: translate(-20px, -100px) rotate(180deg);
    opacity: 0; } }
@-webkit-keyframes flameWobble {
  50% {
    -webkit-transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg);
    transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg); } }
@keyframes flameWobble {
  50% {
    -webkit-transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg);
    transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg); } }
.h-100 {
  height: 100% !important; }

aboutus {
  display: block;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #161921; }
  aboutus .container-fluid {
    cursor: default; }
  aboutus .heading {
    width: 14rem;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase; }
  aboutus .heading:before {
    content: "";
    position: absolute;
    width: 0rem;
    height: 2px;
    top: 3.75rem;
    left: 14px;
    background-color: #ff6435;
    transition: width 0.5s; }
  aboutus .heading:hover:before {
    width: 14rem; }
  aboutus .content {
    text-align: justify; }
    aboutus .content .content--heading {
      text-align: start; }
  aboutus .style--bold {
    font-weight: 700; }
  aboutus .color--firefile {
    color: #ff6435; }
  aboutus .logo-container {
    position: absolute;
    top: 16px;
    left: 15px;
    height: auto;
    width: 7.6%; }
    @media only screen and (max-width: 768px) {
      aboutus .logo-container {
        width: 30%; } }
    aboutus .logo-container .logo {
      display: block;
      height: auto;
      width: 100%; }

privacy {
  display: block;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #161921; }
  privacy .container-fluid {
    cursor: default;
    padding-top: 15rem;
    padding-bottom: 15rem; }
  privacy .scroll-blur {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    box-shadow: inset 0px -20px 10px 0px rgba(0, 0, 0, 0.2); }
  privacy .heading {
    width: 23rem;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase; }
  privacy .heading:before {
    content: "";
    position: absolute;
    width: 0rem;
    height: 2px;
    top: 3.75rem;
    left: 14px;
    background-color: #ff6435;
    transition: width 0.5s; }
  privacy .heading:hover:before {
    width: 23rem; }
  privacy .content {
    text-align: justify; }
    privacy .content .content--heading {
      text-align: start;
      font-size: 2rem;
      font-weight: 100;
      word-break: break-all;
      border-bottom: 1px solid #ff6435; }
  privacy .style--bold {
    font-weight: 700; }
  privacy .color--firefile {
    color: #ff6435; }
  privacy .logo-container {
    position: absolute;
    top: 16px;
    left: 15px;
    height: auto;
    width: 7.6%; }
    @media only screen and (max-width: 768px) {
      privacy .logo-container {
        width: 30%; } }
    privacy .logo-container .logo {
      display: block;
      height: auto;
      width: 100%; }

tos {
  display: block;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #161921; }
  tos .container-fluid {
    cursor: default;
    padding-top: 15rem;
    padding-bottom: 15rem; }
  tos .scroll-blur {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    box-shadow: inset 0px -20px 10px 0px rgba(0, 0, 0, 0.2); }
  tos .heading {
    width: 27rem;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase; }
  tos .heading:before {
    content: "";
    position: absolute;
    width: 0rem;
    height: 2px;
    top: 3.75rem;
    left: 14px;
    background-color: #ff6435;
    transition: width 0.5s; }
  tos .heading:hover:before {
    width: 27rem; }
  tos .content {
    text-align: justify; }
    tos .content .content--heading {
      text-align: start;
      font-size: 2rem;
      font-weight: 100;
      word-break: break-all;
      border-bottom: 1px solid #ff6435; }
  tos .style--bold {
    font-weight: 700; }
  tos .color--firefile {
    color: #ff6435; }
  tos .logo-container {
    position: absolute;
    top: 16px;
    left: 15px;
    height: auto;
    width: 7.6%; }
    @media only screen and (max-width: 768px) {
      tos .logo-container {
        width: 30%; } }
    tos .logo-container .logo {
      display: block;
      height: auto;
      width: 100%; }

not-found-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #161921;
  color: #ff6435;
  font-size: 96px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -7px; }
  not-found-page div {
    animation: glitch 1s linear infinite; }
@keyframes glitch {
  2%,64% {
    transform: translate(2px, 0) skew(0deg); }
  4%,60% {
    transform: translate(-2px, 0) skew(0deg); }
  62% {
    transform: translate(0, 0) skew(5deg); } }
  not-found-page div:before,
  not-found-page div:after {
    content: attr(title);
    position: absolute;
    left: 0; }
  not-found-page div:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%); }
@keyframes glitchTop {
  2%,64% {
    transform: translate(2px, -2px); }
  4%,60% {
    transform: translate(-2px, 2px); }
  62% {
    transform: translate(13px, -1px) skew(-13deg); } }
  not-found-page div:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%); }
@keyframes glitchBotom {
  2%,64% {
    transform: translate(-2px, 0); }
  4%,60% {
    transform: translate(-2px, 0); }
  62% {
    transform: translate(-22px, 5px) skew(21deg); } }
  not-found-page .logo-container {
    position: absolute;
    top: 15px;
    left: 15px;
    height: auto;
    width: 7%; }
    @media only screen and (max-width: 768px) {
      not-found-page .logo-container {
        width: 30%; } }
    not-found-page .logo-container .logo {
      display: block;
      height: auto;
      width: 100%; }
  not-found-page .mat-raised-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1); }
  not-found-page .back-to-home {
    position: absolute;
    width: 180px;
    height: 50px;
    line-height: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 10vh;
    color: white;
    background-color: #ff6435;
    letter-spacing: 1px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500; }

.report {
  background-color: #EB4D4B !important; }

report .h-100 {
  height: calc(100% - 70px) !important; }
report header {
  width: 100%;
  height: 70px;
  background-color: #171a21; }
report .logo-container {
  position: absolute;
  top: 16px;
  left: 15px;
  height: auto;
  width: 7.6%; }
  @media only screen and (max-width: 768px) {
    report .logo-container {
      width: 30%; } }
  report .logo-container .logo {
    display: block;
    height: auto;
    width: 100%; }
report .container {
  padding-top: 40px; }
report .form-control {
  font-size: 1.5rem;
  height: 40px; }
report .title {
  font-size: 3rem; }
report .btn-firefile-dark {
  color: #fff;
  background-color: #171a21; }